---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Aboutme from "../components/Aboutme.astro";
import Education from "../components/Education.astro";
import Work from "../components/Work.astro";
import Footer from "../components/Footer.astro";

// import { FaArrowDown } from "react-icons/fa";
---

<Layout title="Lan Vukušič">
	<main>
		<Hero />
		<Education />
		<Work />
		<!-- <Aboutme /> -->
		<Footer />
	</main>
</Layout>
<style>
	@tailwind base;
	@tailwind components;
	@tailwind utilities;
</style>
