---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import { Counter } from "../components/Counter";
---

<Layout title="test of hydrated components">
  <main style="padding: 3rem;">
    <h1>
      Preact test
    </h1>
    <div style="padding: 1rem;">
      <Counter client:load />
    </div>
  </main>
</Layout>