---
---

<div class="flex items-center bg-gray-800">
  <div class="p-5">
    <h1 class="text-6xl text-gray-100 p-5 py-10 border-b-green-400">
      About me
      <!-- <span class="text-green-400">me</span> -->
    </h1>
    <p class="text-gray-300 text-2xl px-5">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolor eligendi
      modi vero iste consequuntur illo? Maiores, sapiente impedit accusamus
      autem eligendi, repellat
      <span class=""> nobis minima itaque</span>
      architecto ut accusantium quos perspiciatis veniam? Numquam repellendus voluptatibus
      consequatur veritatis quae reprehenderit id nemo perferendis dolores, quaerat
      fugit ipsum sequi necessitatibus quisquam, praesentium explicabo, consectetur
      quis deserunt.
    </p>
  </div>
  <div>gejcina</div>
</div>

<style>
  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  .tagged {
    background-color: green;
  }
</style>
