<div class="h-screen flex-col flex justify-between items-center bg-gray-800">
  <div class="m-10"></div>
  <div class="">
    <h1 class="py-2 text-7xl font-bold text-gray-300">
      lanvukusic<span class="text-green-400">.com</span>
    </h1>
    <h2 class="text-2xl font-light text-green-400">Check out my work</h2>
    <div>
      <div class="text-gray-700 ml-auto w-fit">
        <i> 07.06.2022</i>
      </div>
    </div>
  </div>
  <div class="arrow py-10 text-3xl text-green-500">. . .</div>
</div>

<style>
  @tailwind base;
  @tailwind components;
  @tailwind utilities;
</style>
