---
import "material-icons/iconfont/material-icons.css";
---

<div style="margin-top: 8rem;"></div>
<div class="w-full flex flex-col items-center">
  <h2 class="text-7xl text-gray-300">Working experience</h2>
  <div class="p-5 max-w-3xl">
    <div class="my-5 flex items-center">
      <div
        class="border-l-2 py-3 border-0 border-l-green-400 y-5 border-none px-2"
      >
        <h3 class="text-4xl text-gray-300">UpWork Freelance work</h3>
        <div class="flex items-center">
          <h3 class="text-md text-gray-600 bold w-fit">
            {new Date().toDateString()}
          </h3>
        </div>
        <h4 class="pt-3 text-2xl text-green-400">Python</h4>
        <p class="text-gray-300">
          lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum
          dolor sit, amet consectetur adipisicing elit. Iure, soluta porro
          distinctio aspernatur iusto exercitationem unde tempore delectus
          dolores autem, perspiciatis asperiores facere nemo quaerat a excepturi
        </p>

        <h4 class="pt-3 text-2xl text-green-400">Python</h4>
        <p class="text-gray-300">
          lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum
          dolor sit, amet consectetur adipisicing elit. Iure, soluta porro
          distinctio aspernatur iusto exercitationem unde tempore delectus
          dolores autem, perspiciatis asperiores facere nemo quaerat a excepturi
        </p>
      </div>
    </div>

    <div class="my-5 flex items-center">
      <div
        class="border-l-2 py-3 border-0 border-l-green-400 y-5 border-none px-2"
      >
        <h3 class="text-3xl text-gray-300">
          Laboratory for data technologies, FRI Ljubljana
        </h3>
        <div class="flex items-center">
          <h3 class="text-md text-gray-600 bold w-fit">
            {new Date().toDateString()} - {new Date().toDateString()}
          </h3>
        </div>
        <h4 class="text-2xl text-green-400">Backend developer</h4>
        <p class="py-1 text-gray-300">
          lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum
          dolor sit, amet consectetur adipisicing elit. Iure, soluta porro
          distinctio aspernatur iusto exercitationem unde tempore delectus
          dolores autem, perspiciatis asperiores facere nemo quaerat a excepturi
        </p>
      </div>
    </div>
  </div>
</div>

<style>
  @tailwind base;
  @tailwind components;
  @tailwind utilities;
</style>
